<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" >
        <title>Accueil - Paysagiste spatial</title>
        <link href="style.css" rel="stylesheet" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow+Condensed:wght@300&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        

    </head>
    <body>
        <section class="header">
            <h1>Céleste Jardinova</h1>
            <h2>Paysagiste spatial</h2>
        </section>
        <section class="conteneur-noir">
            <section class="portrait">
                <img src="images/portrait.png" alt="portrait de la paysagiste" is="portrait">
                <div>
                    <h2>Céleste Jardinova</h2>
                    <p>Céleste est une artiste du cosmos, combinant son 
                        amour pour l'univers et son expertise en paysagisme pour façonner des espaces extraordinaires 
                        dans des environnements extraterrestres. Avec une vision à la fois artistique et scientifique, Céleste repousse 
                        les frontières de l'imagination en créant des paysages spatiaux à couper le souffle, où la 
                        beauté de la nature rencontre l'infini de l'espace. 
                    </p>
                </div>
            </section>
        </section>
        <section class="conteneur-blanc">
            <section class="prestas">

                <div class="bloc-bleu">
                    <img src="images/conception.jpg" alt="portrait de la paysagiste" is="portrait">
                    <h2>Conception de jardins</h2>
                    <p>Céleste Jardinova excelle dans l'art de la conception cosmique. Sa passion pour le paysagisme 
                        et son amour de l'espace se rejoignent pour créer des paysages uniques, où la beauté naturelle 
                        rencontre l'immensité de l'univers. Des jardins lunaires ensorcelants aux panoramas interstellaires 
                        époustouflants, chaque création de Céleste est un voyage au-delà des frontières de l'imagination. Explorez
                         son talent artistique et découvrez des espaces cosmiques extraordinaires, conçus avec une expertise hors du commun."</p>
                </div>
                <div class="bloc-vert">
                    <img src="images/plantation_mars.jpg" alt="portrait de la paysagiste" is="portrait">
                    <h2>Réalisation</h2>
                    <p>En repoussant les limites de l'imagination, Céleste utilise des vaisseaux spatiaux jardiniers dernier cri pour
                         transformer les espaces extraterrestres en véritables paradis botaniques. Grâce à une combinaison unique d'expertise
                          en paysagisme et de connaissances spatiales, chaque projet est réalisé avec une précision technique et une 
                          attention minutieuse aux détails. Des choix judicieux de plantes résistantes à l'espace aux techniques d'irrigation 
                          innovantes adaptées aux conditions extraterrestres, Céleste crée des jardins qui éblouissent les sens. Explorez 
                          l'éventail de réalisations, des jardins gravitationnels aux sculptures de topiaires stellaires, et découvrez comment 
                          Céleste Jardinova repousse les frontières de la réalité pour donner vie à des paysages célestes d'une beauté inégalée.  </p>
                </div>
                <div class="bloc-bleu">
                    <img src="images/entretien.jpg" alt="portrait de la paysagiste" is="portrait">
                    <h2>Entretien</h2>
                    <p>Céleste met en œuvre des techniques d'entretien innovantes pour maintenir et sublimer chaque jardin céleste créé. Grâce à
                         sa connaissance approfondie des écosystèmes cosmiques et à son expertise en horticulture interplanétaire, Céleste veille 
                         à ce que chaque plante et chaque élément paysager continue de prospérer dans des conditions extraterrestres uniques. Des 
                         tailles de topiaires stellaires aux systèmes d'irrigation sophistiqués adaptés aux environnements galactiques, Céleste veille 
                         à ce que votre jardin cosmique conserve son éclat et sa splendeur au fil du temps. Confiez l'entretien de votre jardin à 
                         Céleste Jardinova et bénéficiez d'un service professionnel et attentif, assurant la vitalité et la pérennité de votre oasis 
                         cosmique. Votre jardin continuera d'émerveiller les visiteurs, captivant leur imagination et les transportant dans un voyage au-delà des étoiles.</p>
                </div>
            </section>
        </section>
        <section class="conteneur-noir2">
            <h2>Les créations de Céleste</h2>
            <section class="portefolio">
                <div class="nom-jardinone">
                    <img class="box" src="images/jardin-planete.jpg">
                    <div class="photo-hover">Jardin tropicale sur Vénus</div>
                </div>
                <div class="nom-jardin2">
                    <img class="box" src="images/jardin_pluton.jpg">
                    <div class="photo-hover">Pluton, Jardin givré</div>
                </div>
                </div>
                <img class="box jardin3" src="images/jardin2.jpg">
                <img class="box jardin4" src="images/jardin-mars2.jpg">
                <div class="nom-jardin5">
                    <img class="box" src="images/jardin-sur_vaisseau.jpg">
                    <div class="photo-hover">Espace vert pour le vaisseau Voyager XI</div>
                </div>
                <img class="box jardin6" src="images/jardin_lune.jpg">
                <img class="box jardin7" src="images/arbre-lune.jpg">
                <img class="box jardin8" src="images/jardin3.jpg">
                <div class="nom-jardin9">
                    <img class="box" src="images/jardin-mars3.jpg">
                    <div class="photo-hover">Jardin rouge marsien</div>
                </div>
            </section>
        </section>
    </body>
	<footer class="conteneur-footer">
        <p>
            2023, cc-by-sa <a href="https://www.guillaumeleguen.xyz" target="_blank">Guillaume Leguen</a><br>
            Ce site est un template réalisé en HTML5
            avec l'aide technique de <a href="https://www.couturiereduweb.net/" target="_blank">Noémie Letissier</a><br>
            Visuels et photographies réalisés par IA.
        </p>
	</footer>

</html>
