<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Le titre de ma page</title>
        <link rel="stylesheet" href="style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Barlow+Condensed:wght@300&family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <nav>
        <img src="images/logo.png" alt="Logo" >
        <a class="active" href="index.html">Accueil</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="a-propos.html">Nos potions</a>
        <a href="a-propos.html">Mentions légales</a>
    </nav>
    <body>
        <section class="fond_pleine_largeur">
            <section class="reservation">
                <img src="images/accueuil.png">
                <section class="text_accueil">
                    <h2>Imagin'Hair</h2>
                    <h3>Salon de coiffure </h3>
                    <h3>pour vos animaux imaginaires</h3>
                </section>
            </section>
        </section>
        <section class="fond_80_gauche_sup"> 
            <section class="text_potions">
                <h2>Nos potions</h2>
                <p>Nos experts en sortilèges sont là pour vous conseiller sur les potions qui feront ressortir la beauté intérieure de vos compagnons fantastiques. Que vous souhaitiez une queue chatoyante pour votre dragon farceur ou des ailes scintillantes pour votre créature ailée, nos potions transformeront vos rêves imaginaires en réalité éblouissante. Venez nous rendre visite et découvrez comment nos potions enchanteresses ajouteront une touche de féérie à chaque instant passé avec vos adorables créatures imaginaires. Chez Imagin'hair, la magie est dans l'air et dans chaque goutte de nos potions enchanteresses !</p>
            </section>
            <img src="images/pres_potions.jpg">
        </section>
        <section class="fond_80_gauche">
            <section class="text_labels">
                <img src="images/vegan3.jpg">
                <img src="images/03.jpg">
                <img src="images/903.jpg">
                <img src="images/world3.jpg">
            </section>
        </section>

        <section class="bloc_80_droite">
            <section class="bloc_blanc">
                <img class="demo1" src="images/coiffure_bete_bleu.jpg">
                <img class="demo2" src="images/petits_betes.jpg">
                
            </section>
            <section class="fond_80_droite">
                <h2>Ils sont passés chez nous</h2>
                <img class="demo3" src="images/coiffure_totoro.jpg">
            </section>
        </section>
    </body>
</html>